<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1093250405799-gse03gprj4bg8dn65ala9n5g2j647un2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1093250405799-gse03gprj4bg8dn65ala9n5g2j647un2</string>
	<key>API_KEY</key>
	<string>AIzaSyDDlx-HoZPOmKzgg4z94mxwInSDPoRUYpo</string>
	<key>GCM_SENDER_ID</key>
	<string>1093250405799</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pomodoronepal.pomodoronepal</string>
	<key>PROJECT_ID</key>
	<string>pomodoro-nepal</string>
	<key>STORAGE_BUCKET</key>
	<string>pomodoro-nepal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1093250405799:ios:7ff4db6636958933af5282</string>
</dict>
</plist>